h1{
    font-size: 60px;
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 20px;
}

.forecast {
    font-size: 20px;
}

.col-2 {
    background-color: rgb(34, 145, 236);
    color: white;
}

#search-input {
    width: 66%;
    float: left;
}